.active.tiled.webpageview {
  box-shadow: none !important;
}

#webview-container {
  --mosaicPadding: 0px !important;
}

#browser:not(.inner, .narrow-tiling) .webpageview.tiled, #browser:not(.inner, .narrow-tiling) .webpageview.tiled > .row-wrapper {
  boorder-radius: 0 !important;
}
